.toparea{
         background-color: #B55651;
         padding: 10px;
         text-align: center;
         color: white;
  }

  .logoarea{
    background-color:#F2C38B;
    padding: 30px;
    text-align: center;
  }

  .logoarea h1{
      color:#8D5350;
 }

.logoarea h4{
    color: black;
}

.logoarea img{
    width:110px;
}
.principalarea{
    padding:50px 0;
    text-align: center;
}
.pimage{
    width:300px;
}


.box{
    width: 100%;
    margin:10px;
    padding:20px;
    text-align: center;
    background:white;
    border:solid 1px black;
}
.box img{
    width:100%;
    transition: all 2s;
}
.box:hover img{
    transform:rotate(360deg);
}
